<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="header">
        <div class="header-topbar">
            <div class= "logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="insertando archivo svg">
                </a>
            </div>
            <div class="search-bar">
                <form action="" method="get"></form>
                <input class="imput-search" type="text" placeholder="Buscar productos, marca...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd">
                    Compra en cuotas y sin tarjetas de creditos</i>
                </h2>
            </div>
        </div>
        <nav class="header-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class= "right-navbar">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu">
            <button class="burger-menu">
            <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <form action="" method="post" class="form-login">
        <div class="login-buttons">
            <label>Nombre de Usuario</label>
            <input type="text" name="username">
        </div>
        <div class="login-buttons">
            <label>Contraseña</label>
            <input type="password" name="password">
        </div>
        <button type="submit">INGRESAR</button>
    </form>
    <footer class="footer">
        <div class="box-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="box-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
            <div class="box-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>  
</body>
</html>